@import "../../_styles/main.scss";

.ProjectsContainer {
	grid-row: 2 / 3;
	transition: 1s min-height ease-in-out;
	.header {
		color: $primary-light;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}
