@import "../../styles/main.scss";

.NavBar {
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 5;
	background-color: $color-primary;
	border-bottom: 2px solid $color-accent;
	box-shadow: -1px -5px 5px 6px rgba(0, 0, 0, 0.75);

	h2 {
		margin: 0.5rem;
		margin-left: 3.5rem;
		font-family: "Carter One", cursive;
		color: coral;
	}
	.navbar-form {
		display: flex;
		margin-right: 3.5rem;
	}
	.navbar-form > button {
		@include btn-style-1;
		padding: 0.4rem 2.5rem;
		margin: 0.2rem;
	}
}
